<!-- <!DOCTYPE html>
<html>
<head>
	<title>Resume ></title>
</head>
<body>

<h2>Resume of <%= @p.first_name %> <%= @p.last_name %></h2>
First Name: <%= @p.first_name %> <br>
Last Name: <%= @p.last_name %> <br>
Email: <%= @p.email %> <br>
Summary: <%= @p.summary %> <br>
<br><br><br>
Project: <br>

	<% if !@project.nil? %>

	<% @project.each do |pro| %>
	<ul style="list-style-type:none">
	  <li>
	  Title: <%= pro.title%> <br>
	  Summary: <%= pro.description%> <br>
	  Start Date: <%= pro.start_date %> <br>
	  End Date: <%= pro.end_date %> <br>
	  </li>
	  <br><br>
	</ul>
	<% end %>
<% end %>
<br><br><br>
Experience: <br>
	<% if !@experience.nil? %>

	<% @experience.each do |exp| %>
	<ul style="list-style-type:none">
	  <li>
	  Title: <%= exp.title%> <br>
	  Summary: <%= exp.description%> <br>
	  Start Date: <%= exp.start_date %> <br>
	  End Date: <%= exp.end_date %> <br>
	  </li>
	  <br><br>
	</ul>
	<% end %>
<% end %>
<br><br><br>
Education: <br>
<% if !@education.nil? %>

	<% @education.each do |edu| %>
	<ul style="list-style-type:none">
	  <li>
	  School: <%= edu.school%> <br>
	  Degree: <%= edu.degree%> <br>
	  Start Date: <%= edu.start_date %> <br>
	  End Date: <%= edu.end_date %> <br>
	  Major: <%= edu.major %> <br>
	  GPA: <%= edu.gpa %> <br>
	  Summary: <%= edu.description%> <br>
	  </li>
	  <br><br>
	</ul>
	<% end %>
<% end %>
<br><br>

<a href="/company_page">Back to Home</a>

</body>
</html> -->


<html>
<head>
    <meta charset="utf-8">
    <title>Resume</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link href="/css/landing-page.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="text-primary"><%= @p.first_name %> <%= @p.last_name %>'s Resume </h2>
        <h3 class="text-primary">  Email: <%= @p.email %></h3>
				<h3 class="text-primary"> <%= @p.summary %> </h3>
				<a href="/company_page" class="btn btn-primary" role="button">back to home</a>
      </div>
      <div class="col-sm-8">

        <ul class="list-group">
					<div class="row">
							<h2 class="text-primary">Project</h2>
					</div>
					<% if !@project.nil? %>
						<% @project.each do |pro| %>
	          	<li class="list-group-item">
								<h3><strong>Title</strong></h3>
								<h3><small><%= pro.title%></small></h3>
								<h3><strong>Summary</strong></h3>
								<h3><small><%= pro.description%></small></h3>
								<h3><strong>Start Date</strong></h3>
								<h3><small><%= pro.start_date%></small></h3>
								<h3><strong>End Date</strong></h3>
								<h3><small><%= pro.end_date%></small></h3>
						<% end %>
					<% end %>
        </ul>
        <ul class="list-group">
					<div class="row">

							<h2 class="text-primary">Experience</h2>

					</div>
					<% if !@experience.nil? %>
						<% @experience.each do |exp| %>
	          	<li class="list-group-item">
								<h3><strong>Title</strong></h3>
								<h3><small><%= exp.title%></small></h3>
								<h3><strong>Summary</strong></h3>
								<h3><small><%= exp.description%></small></h3>
								<h3><strong>Start Date</strong></h3>
								<h3><small><%= exp.start_date%></small></h3>
								<h3><strong>End Date</strong></h3>
								<h3><small><%= exp.end_date%></small></h3>
						<% end %>
					<% end %>
        </ul>
        <ul class="list-group">
					<div class="row">
							<h2 class="text-primary">Education</h2>
					</div>
					<% if !@education.nil? %>
						<% @education.each do |edu| %>
	          	<li class="list-group-item">
								<h3><strong>School</strong></h3>
								<h3><small><%= edu.school%></small></h3>
								<h3><strong>Degree</strong></h3>
								<h3><small><%= edu.degree%></small></h3>
								<h3><strong>Start Date</strong></h3>
								<h3><small><%= edu.start_date%></small></h3>
								<h3><strong>End Date</strong></h3>
								<h3><small><%= edu.end_date%></small></h3>
								<h3><strong>Major</strong></h3>
								<h3><small><%= edu.major%></small></h3>
								<h3><strong>GPA</strong></h3>
								<h3><small><%= edu.gpa%></small></h3>
								<h3><strong>Summary</strong></h3>
								<h3><small><%= edu.description%></small></h3>
						<% end %>
					<% end %>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
