<!DOCTYPE html>
<html>
<head>
	<title>HomePage For <%= @p.first_name %></title>
</head>
<body>

<h2>HomePage For <%= @p.first_name %></h2> 

First Name: <%= @p.first_name %> <br>
Last Name: <%= @p.last_name %> <br>
Email: <%= @p.email %> <br>
Summary: <%= @p.summary %> <br>

Project: <br>
	<ul style="list-style-type:none">
	  <li>Coffee</li>
	  <li>Tea</li>
	  <li>Milk</li>
	</ul>
	
</body>
</html>



